# my global config
global:
swin  scrape_interval: ${scrape_interval} # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: ${evaluation_interval} # Evaluate rules every 15 seconds. The default is every 1 minute.
  external_labels:
%{ for k,v in external_labels ~}
    ${k}: ${v}
%{ endfor ~}

# Alertmanager configuration
alerting:
  alertmanagers:
  - scheme: http
    path_prefix: "/alertmanager/"
    static_configs:
    - targets:
%{ for alertmanager in alertmanagers ~}
      - ${alertmanager}
%{ endfor ~}

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - "variant_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'variant'
    static_configs:
      - targets: ['localhost:1355']

# Remote write configuration
${remote_write_config}
